<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>group-do | {{ title }}</title>
    <!-- CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <ul id="event-list">
      </ul>
    </div>
    <!-- JavaScript -->
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript">
      (function populateEventsList() {
       $.ajax({
          url: '/api/event/',
          type: 'GET',
          success: function(response) {
            var events = response.events;
            var list = $('#event-list')[0];
            for (var i = 0; i < events.length; i++) {
              var li = document.createElement('li');
              li.innerHTML = "Title: '<b>" + events[i]["title"] + "</b>', Desc: '<b>" + events[i]["description"] + "</b>'";
              list.appendChild(li);
            }
          }
          });
       })();
</script>
  </body>
</html>
