<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>group-do | {{ title }}</title>
    <!-- CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <p>Display board here</p>
    </div>
    <!-- JavaScript -->
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
