extends templates/main_template

block title
  title= "group-do | " + page_title

block content
  p
    a(href="/board/" + group_name) Events board
  p
    a(href="/newevent/" + group_name) Create a new event
  p
    a(href="/newuser") Create a new user
  p
    a(href="/login") Login
