extends templates/main_template

block content
  form(role="form", method="get", action="/api/auth")
    .form-group
      label(for="username") Username
      input(type="text", class="form-control", id="username", placeholder="Username", name="username")
    .form-group
      label(for="password") Password
      input(type="text", class="form-control", id="password", placeholder="Password", name="password")
    input(type="submit", id="submitBtn", class="btn btn-primary", value="Create Event")
