doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    block title
      title= "group-do"
    // CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    block css
  body
    div(class="container")
      block content
    // JS
    script(src="/js/jquery-1.11.0.js")
    script(src="/js/bootstrap.js")
    block js
