<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>group-do | {{ title }}</title>
    <!-- CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form role="form" method="post" action="/api/event">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title"></input>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Description" name="description"></input>
        </div>
        <input type="submit" id="submitBtn" class="btn btn-primary" value="Create Event"></input>
      </form>
    </div>
    <!-- JavaScript -->
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
